{% load humanize %}
{% load static %}

<table class="table table-dark table-striped table.sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>codigo</th>
            <th>descripción</th>
            <th>cantidad</th>
            <th>valor</th>
            <th>revista</th>
            <th>month</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        {% for factura in facturas %}
            <tr>
                <td>{{ factura.id }}</td>
                <td>{{ factura.codigo }}</td>
                <td class="txtupp">{{ factura.descripcion }}</td>
                <td>{{ factura.cantidad }}</td>
                <td>{{ factura.precio|intcomma }}</td>
                <td class="txtupp">{{ factura.revista }}</td>
                <td>{{ factura.month }}</td>
                <td>
                    <a class="btn btn-primary btn-color btn-sm mx-auto" href="{% url 'modificarRemision' factura.id %}">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
