{% load humanize %}
{% load static %}

<h3 class="mb-3 atxt1">Ventas del mes de {{ month }}</h3>
            <table class="table table-dark table-striped table.sm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>codigo</th>
                        <th>cantidad</th>
                        <th>precio</th>
                        <th>comprador</th>
                        <th>month</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                        <tr>
                            <td>{{ venta.id }}</td>
                            <td>{{ venta.codigo }}</td>
                            <td>{{ venta.cantidad }}</td>
                            <td>{{ venta.precio|intcomma }}</td>
                            <td class="txtupp">{{ venta.comprador }}</td>
                            <td>{{ venta.month }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>