{% load humanize %}
{% load static %}

<table class="table table-dark table-striped table.sm">
    <thead>
        <tr>
            <th>revista</th>
            <th>month</th>
            <th>codigo</th>
            <th>comprador</th>
            <th>descripción</th>
            <th>cantidad</th>
            <th>valor</th>
            <th>Fecha Limite</th>
        </tr>
    </thead>
    <tbody>
        {% for cobro in cobros %}
            <tr>
                <td>{{ cobro.revista }}</td>
                <td>{{ cobro.month }}</td>
                <td>{{ cobro.codigo }}</td>
                <td class="txtupp">{{ cobro.comprador }}</td>
                <td class="txtupp">{{ cobro.descripcion }}</td>
                <td>{{ cobro.cantidad }}</td>
                <td>{{ cobro.catalogo|intcomma }}</td>
                <td>{{ cobro.fechaLimite }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
