{% load humanize %}
{% load static %}

<h3 class="mb-3 atxt1">Remisiones del mes de {{ month }}</h3>
<table class="table table-dark table-striped table.sm">
    <thead>
        <tr>
            <th>codigo</th>
            <th>descripción</th>
            <th>cantidad</th>
            <th>valor</th>
            <th>month</th>
        </tr>
    </thead>
    <tbody>
        {% for factura in facturas %}
            <tr>
                <td>{{ factura.codigo }}</td>
                <td class="txtupp">{{ factura.descripcion }}</td>
                <td>{{ factura.cantidad }}</td>
                <td>{{ factura.catalogo|intcomma }}</td>
                <td>{{ factura.month }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
