{% extends 'rossy/layout.html' %}
{% load static %}

{% block content %}
    
<div class="container mb-5">
    <div class="col-11 mx-auto mt-5 c">
        <h1>Creacion Cuentas de Cobro</h1>
    </div>

    <div class="col-11 mx-auto mt-3 mb-5 c">
        <h4>Subir archivo de ventas y facturas para generar Cuentas de Cobro</h4>
    </div>

    <hr>

    <div class="col-11 mx-auto mt-5">
        <div class="row">
            <div class="col-6 mx-auto mb-3 c">
                <a class="nav-link atxt1" href="{% url 'loadXlsxSales' %}">
                    <h3>Proceso del Archivo de Ventas</h3>
                </a>
            </div>

            <div class="col-6 mx-auto mb-3 c">
                <a class="nav-link atxt1" href="{% url 'loadXlsxFactura' %}">
                    <h3>Proceso de la Factura</h3>
                </a>
            </div>
        </div>
    </div>

    <div class="col-11 mx-auto mt-5">
        <div class="row">
            <div class="col-6 mx-auto mb-3 c">
                <h3>Historia de Ventas</h3>
                {% for mes in meses %}
                    <a class="nav-link atxt1" href="#">
                        <h5>{{ mes }}</h5>
                    </a>
                {% endfor %}
            </div>

            <div class="col-6 mx-auto mb-3 c">
                <a class="nav-link atxt1" href="#">
                    <h3>Proceso de la Factura</h3>
                </a>
            </div>
        </div>
    </div>

    <div id="spin" class="col-10 mx-auto color_blue mt-3 c borde">
        <div class="spinner ">
            <h1>Loading</h1>
            <h3>Please whait, this may take some time</h3>
        </div>
    </div>

</div>

<script src="{% static 'js/spinner.js' %}"></script>

{% endblock %}
