{% extends 'rossy/layout.html' %}
{% load humanize %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-11 mx-auto mt-5 mb-5">
    <h2>Cuentas de Cobro del mes de {{ month }} para {{ salesName }}</h2>
    <p>Valor Un NO incluye IVA</p>

    <div class="col-12 mx-auto mt-5">
        <h2 class="c">Cuentas de Cobro</h2>
        <hr>

        <div class="col-10 mx-auto">
            <table class="table table-dark table-striped table.sm">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Comprador</th>
                        <th>descripcion</th>
                        <th>Cantidad</th>
                        <th>Valor Un</th>
                        <th>SubTotal</th>
                        <th>iva</th>
                        <th>Valor Iva</th>
                        <th>Total Item</th>
                        <th>Fecha Pago</th>
                    </tr>
                </thead>
                <tbody>
                    {% for one in cuentasCobro %}
                        <tr>
                            <td>{{ one.codigo }}</td>
                            <td class="txtupp">{{ one.comprador }}</td>
                            <td class="txtupp">{{ one.descripcion }}</td>
                            <td>{{ one.cantidad }}</td>
                            <td>{{ one.valorUn|intcomma }}</td>
                            <td>{{ one.subTotal|intcomma }}</td>
                            <td>{{ one.iva }}</td>
                            <td>{{ one.valorIva|floatformat:".00" }}</td>
                            <td>{{ one.subTotIva|floatformat:".00" }}</td>
                            <td>{{ one.fechaLimite }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>
{% endblock %}
