{% extends 'rossy/layout.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    

<div class="col-11 mx-auto mt-4 mb-5 ">
    <h2>Mis Ventas</h2>
    <h4>Subir Listado de ventas y Remisiones para generar Cuentas de Cobro</h4>
    <h2 class="atxt3 c">Leonisa, NovaVenta y Moda Internacional</h2>

    <hr>

    <div class="row mt-2">
        <div class="col-6 mx-auto">
            <a class="nav-link atxt" href="{% url 'loadXlsxSales' %}">
                <h3>Ingresar el Listado de Ventas</h3>
                <img src="{% static '/img/ventas.png' %}" class="imgventas mb-3" alt="VENTAS" />
                <h6 class="atxt1">Estar pendiente si es de NovaVenta, Leonisa y Moda Internacional</h6>
                <h6 class="atxt1">El archivo a ingresar deve ser .xlsx y las columnas igual a la imagen</h6>
                <h6 class="atxt1">La lista de las ventas se ingresa con el mismo mes que la factura ej: "Nov22"</h6>
            </a>
        </div>

        <div class="col-6 mx-auto c">
            <a class="nav-link atxt" href="{% url 'loadXlsxFactura' %}">
                <h3>Ingresar la Remision</h3>
                <img src="{% static '/img/facturaModel.png' %}" class="imgfacturas mb-3" alt="FACTURA" />
                <h6 class="atxt1">Estar pendiente si es de NovaVenta, Leonisa y Moda Internacionalo</h6>
                <h6 class="atxt1">El archivo a ingresar deve ser .xlsx y las columnas igual a la imagen</h6>
                <h6 class="atxt1">Tener cuidado que el mes de la Remision sea el mismo que la lista de ventas ej: "Nov22"</h6>
            </a>
        </div>
    </div>

    <hr>
    <h2>Consulta Mis Ventas</h2>
    <h3>NovaVenta</h3>

    <div class="row">
        <div class="col-4 mx-auto">
            <h4 class="atxt1 c">Ventas</h4>
            <form method="POST" id="saleNova">
                {% csrf_token %}
                {% for mes in salesMesesNova %}
                    <button class="btn btn-primary btn-color mx-auto mt-3" type="submit" name="saleNova" value="{{ mes }}">{{ mes }}</button>
                {% endfor %}
            </form>
        </div>

        <div class="col-4 mx-auto">
            <h4 class="atxt1 c">Remisiones</h4>
            <form method="POST" id="invoiceNova">
                {% csrf_token %}
                {% for mes in invoicesMesesNova %}
                    <button class="btn btn-primary btn-color mx-auto mt-3" type="submit" name="invoiceNova" value="{{ mes }}">{{ mes }}</button>
                {% endfor %}
            </form>
        </div>

        <div class="col-4 mx-auto">
            <h4 class="atxt1 c">Cuentas de Cobro</h4>
            <form method="POST" id="receiptNova">
                {% csrf_token %}
                {% for mes in receiptMesesNova %}
                    <button class="btn btn-primary btn-color mx-auto mt-3" type="submit" name="receiptNova" value="{{ mes }}">{{ mes }}</button>
                {% endfor %}
            </form>
        </div>

    </div>

    <hr>
    <h3>Leonisa</h3>

    <div class="row">
        <div class="col-4 mx-auto">
            <h4 class="atxt1 c">Ventas</h4>
            <form method="POST" id="saleLeo">
                {% csrf_token %}
                {% for mes in salesMesesLeo %}
                    <button class="btn btn-primary btn-color mx-auto mt-3" type="submit" name="saleLeo" value="{{ mes }}">{{ mes }}</button>
                {% endfor %}
            </form>
        </div>

        <div class="col-4 mx-auto">
            <h4 class="atxt1 c">Remisiones</h4>
            <form method="POST" id="invoiceLeo">
                {% csrf_token %}
                {% for mes in invoicesMesesLeo %}
                    <button class="btn btn-primary btn-color mx-auto mt-3" type="submit" name="invoiceLeo" value="{{ mes }}">{{ mes }}</button>
                {% endfor %}
            </form>
        </div>

        <div class="col-4 mx-auto">
            <h4 class="atxt1 c">Cuentas de Cobro</h4>
            <form method="POST" id="receiptLeo">
                {% csrf_token %}
                {% for mes in receiptMesesLeo %}
                    <button class="btn btn-primary btn-color mx-auto mt-3" type="submit" name="receiptLeo" value="{{ mes }}">{{ mes }}</button>
                {% endfor %}
            </form>
        </div>
    </div>

    <hr>
    <h3>Moda Internacional</h3>

    <div class="row">
        <div class="col-4 mx-auto">
            <h4 class="atxt1 c">Ventas</h4>
            <form method="POST" id="saleModa">
                {% csrf_token %}
                {% for mes in salesMesesModa %}
                    <button class="btn btn-primary btn-color mx-auto mt-3" type="submit" name="saleModa" value="{{ mes }}">{{ mes }}</button>
                {% endfor %}
            </form>
        </div>

        <div class="col-4 mx-auto">
            <h4 class="atxt1 c">Remisiones</h4>
            <form method="POST" id="invoiceModa">
                {% csrf_token %}
                {% for mes in invoicesMesesModa %}
                    <button class="btn btn-primary btn-color mx-auto mt-3" type="submit" name="invoiceModa" value="{{ mes }}">{{ sale }}</button>
                {% endfor %}
            </form>
        </div>

        <div class="col-4 mx-auto">
            <h4 class="atxt1 c">Cuentas de Cobro</h4>
            <form method="POST" id="receiptModa">
                {% csrf_token %}
                {% for mes in receiptMesesModa %}
                    <button class="btn btn-primary btn-color mx-auto mt-3" type="submit" name="receiptModa" value="{{ mes }}">{{ mes }}</button>
                {% endfor %}
            </form>
        </div>
    </div>

</div>

{% endblock %}
