{% extends 'rossy/layout.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    
<div class="container mb-5">
    <div class="col-11 mx-auto mt-5 c">
        <h1>Ingresar Remision en .xlsx</h1>
    </div>

    <div class="col-11 mx-auto mt-3 mb-5 c">
        <h4>Subir Remision de ventas</h4>
    </div>

    <hr>

    <div class="col-11 mx-auto mt-5">
        <div class="row">
            <div class="col-7 mx-auto mb-3">
                <h3>Ingrese la Remision de Ventas</h3>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="inputFactura" class="form-label">Ingrese Remision de Ventas en .xlsx</label>
                        <input class="form-control" type="file" name="inputFactura">
                    </div>

                    <div class="mt-2 mb-3">
                        <label class="form-label">Nombre de la hoja en el .xlsx</label>
                        <input class="form-control" type="text" name="sheet" placeholder="Sheet name">
                    </div>

                    <div class="mt-2 mb-3">
                        <label class="form-label">Mes de la Remision</label>
                        <input class="form-control" type="text" name="month" placeholder="Month">
                    </div>

                    <div class="mt-2 mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="salesName" id="novaventa" value="novaventa">
                            <label class="form-check-label" for="novaventa">Novaventa</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="salesName" id="leonisa" value="leonisa">
                            <label class="form-check-label" for="leonisa">Leonisa</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="salesName" id="moda" value="moda">
                            <label class="form-check-label" for="moda">Moda Internacional</label>
                        </div>
                    </div>

                    <div class="col-11 mx-auto">
                        <button id="butSpin" class="btn btn-primary btn-sm btn-color mt-3" type="submit" name="submit">Procesar</button>
                    </div>
                </form>
            </div>

            <div class="col-4">
                <div class="col-11 mx-auto mb-3">
                    <h3>Algunas recomendaciones</h3>
                    <p>Fijate que sea un archivo .xlsx de lo contrario recibiras un error</p>
                    <p>Si el archivo ya se proceso, el folder anterior se sobreescribe</p>
                </div>
            </div>
        </div>
    </div>

    <div id="spin" class="col-10 mx-auto color_blue mt-3 c borde">
        <div class="spinner ">
            <h1>Loading</h1>
            <h3>Please whait, this may take some time</h3>
        </div>
    </div>

</div>

<script src="{% static 'js/spinner.js' %}"></script>

{% endblock %}
