{% extends 'rossy/layout.html' %}
{% load humanize %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="col-10 mx-auto mt-3 mb-5">
    <h2>Ventas de {{ revista }} del mes de {{ month }}</h2>
</div>

<div class="col-10 mx-auto mt-3 mb-5">
    <h3 class="mb-3 atxt1">No Llego</h3>
    {% include 'sales/partials/tablaVentas.html' %}
</div>

<div class="col-10 mx-auto mt-3 mb-5">
    <h3 class="mb-3 atxt1">Se me olvido ponerlo en la lista</h3>
    {% include 'sales/partials/tablaRemis.html' %}
</div>

<div class="col-10 mx-auto mt-3 mb-5">
    <h3 class="mb-3 atxt1">Cobros del mes de {{ month }}</h3>
    {% include 'sales/partials/tablaCobros.html' %}
</div>

{% endblock %}
